printer_image_MQTT/nodes/main_node.json
[
    {
        "id": "b264104b.b8ca1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eadc3de.59176c",
        "type": "server",
        "z": "",
        "name": "Home Assistant"
    },
    {
        "id": "25afc488.a3a34c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "ee05036d.bfbaf8",
        "type": "googlehome-config-node",
        "z": "",
        "ipaddress": "10.0.1.2",
        "language": "en"
    },
    {
        "id": "8ee92db.e0032d",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "KTPE Dotaznik",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3b99f139.e6c89e",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c27d999.36dea68",
        "type": "ui_tab",
        "z": "",
        "name": "Dotaznik",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "2b440b66.835e9c",
        "type": "ui_group",
        "z": "",
        "name": "Dotazník KTPE",
        "tab": "c27d999.36dea68",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6a67d087.a32dd8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.1.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "e19ec4ac.e78d1",
        "type": "ui_group",
        "z": "",
        "name": "Tlaciaren",
        "tab": "bbe00ad2.4235",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bbe00ad2.4235",
        "type": "ui_tab",
        "z": "",
        "name": "Tlaciaren",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "c38c4436.4bc8c8",
        "type": "ui_tab",
        "z": "",
        "name": "WiFi rover",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "94f71f94.544398",
        "type": "ui_group",
        "z": "",
        "name": "Joysticke",
        "tab": "c38c4436.4bc8c8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1a49af50.cf1401",
        "type": "ui_form",
        "z": "b264104b.b8ca1",
        "name": "Dotaznik KTPE",
        "label": "",
        "group": "2b440b66.835e9c",
        "order": 0,
        "width": "6",
        "height": "4",
        "options": [
            {
                "label": "Meno",
                "value": "name",
                "type": "text",
                "required": false
            },
            {
                "label": "Priezvisko",
                "value": "surname",
                "type": "text",
                "required": false
            },
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": false
            },
            {
                "label": "Škola",
                "value": "school",
                "type": "text",
                "required": false
            },
            {
                "label": "Ročník",
                "value": "shool_year",
                "type": "number",
                "required": false
            }
        ],
        "formValue": {
            "name": "",
            "surname": "",
            "email": "",
            "school": "",
            "shool_year": ""
        },
        "payload": "",
        "submit": "Odoslat",
        "cancel": "Zrusit",
        "topic": "",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "a796b7b8.d1f0e",
                "35879158.e1756e",
                "6737e896.a2b868",
                "ce7d9e6a.6e9f58"
            ]
        ]
    },
    {
        "id": "a796b7b8.d1f0e",
        "type": "file",
        "z": "b264104b.b8ca1",
        "name": "",
        "filename": "/share/dotaznik_mena.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 460,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "35879158.e1756e",
        "type": "change",
        "z": "b264104b.b8ca1",
        "name": "Name",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 300,
        "wires": [
            [
                "b45e9ca0.6bd148"
            ]
        ]
    },
    {
        "id": "71a70a85.8bf654",
        "type": "debug",
        "z": "b264104b.b8ca1",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "6737e896.a2b868",
        "type": "change",
        "z": "b264104b.b8ca1",
        "name": "Surname",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.surname",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 360,
        "wires": [
            [
                "b45e9ca0.6bd148"
            ]
        ]
    },
    {
        "id": "b45e9ca0.6bd148",
        "type": "join",
        "z": "b264104b.b8ca1",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": " ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 630,
        "y": 320,
        "wires": [
            [
                "71a70a85.8bf654",
                "ab91ed32.a94338",
                "720a7d28.1b5c94"
            ]
        ]
    },
    {
        "id": "720a7d28.1b5c94",
        "type": "mqtt out",
        "z": "b264104b.b8ca1",
        "name": "",
        "topic": "form/newsubmit",
        "qos": "0",
        "retain": "false",
        "broker": "6a67d087.a32dd8",
        "x": 920,
        "y": 420,
        "wires": []
    },
    {
        "id": "ce7d9e6a.6e9f58",
        "type": "csv",
        "z": "b264104b.b8ca1",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "name, surname, email, school, school_year",
        "skip": "0",
        "x": 390,
        "y": 520,
        "wires": [
            [
                "f70152c3.fbeb88"
            ]
        ]
    },
    {
        "id": "f70152c3.fbeb88",
        "type": "file",
        "z": "b264104b.b8ca1",
        "name": "",
        "filename": "/share/dotaznik_mena.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 600,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ab91ed32.a94338",
        "type": "ui_toast",
        "z": "b264104b.b8ca1",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Registrácia prebehla úspešne",
        "name": "Notification",
        "x": 910,
        "y": 360,
        "wires": []
    }
]
